<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar avbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Movies Search</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">Search for a movie</h2>
                <form action="/" method="POST">
                    <input type="text" name="search"   class="form-control" placeholder="Type any movie title">
                </form>
            </div>
        </div>
        <div class="container">
            <div id="movies" class="row">
                <ul>
                    <% for (let i of moviesList) { %>
                        <li>
                            <p><%= i.movie%></p>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </body>
</html>

